<section class="bar background-white no-mb" id="about">
  <div class="container">
      <div class="col-md-12">
          <div class="heading text-center">
              <h2>About</h2>
          </div>
          <div class="row company-info-row"> <!-- Custom class for this row -->
              <div class="col-md-12 col-sm-12">
                  <div class="box-image-text text-center">
                      <div class="content horizontal-layout">
                          <h4>名前</h4>
                          <p>Cyber Knock(サイバーノック)</p>
                      </div>
                  </div>
              </div>

              <div class="col-md-12 col-sm-12">
                  <div class="box-image-text text-center">
                      <div class="content horizontal-layout">
                          <h4>代表</h4>
                          <p>渡辺 晴仁</p>
                      </div>
                  </div>
              </div>

              <div class="col-md-12 col-sm-12">
                  <div class="box-image-text text-center">
                      <div class="content horizontal-layout">
                          <h4>住所</h4>
                          <p>
                              〒150-0043<br>
                              東京都渋谷区道玄坂1丁目10番8号<br>
                              渋谷道玄坂東急ビル2F−C
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
