<section class="bar background-image-fixed-2 no-mb color-white text-center">
  <div class="dark-mask"></div>
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="icon icon-lg"><i class="{{ .Site.Params.see_more.icon }}"></i></div>
              <h2 class="text-uppercase">Cyber Knock
              </h2>
              <p class="lead">
                  エンジニアリングの力で社会の課題を解決し、より良い未来を創造する。<br>
              </p>
          </div>
      </div>
  </div>
</section>
